{% load url from future %}

<div id="diablo_wrapper">
  <div style="padding: 7px 12px 0;">
    <ul id="hero_menu" class="hero-tabs">
      {% for h in account.hero_set.all %}
      <li>
        <a href="{% url "diablo_hero_detail" h.pk %}" onclick="loadHero(this,{{ h.pk }}); return false;"
           class="hero-tab {{ h.klass }}-{{ h.get_gender_display|lower }}{% if h == hero %}
	        active{% endif %}{% if h.hardcore %} hardcore{% endif %}"
           title="notajax:#hero-tab-tooltip-{{ forloop.counter }}">
          <span class="hero-portrait"></span>
          <span class="level">{{ h.level }}</span>
          <span class="name">{{ h.get_klass_display }}</span>
        </a>
        <div id="hero-tab-tooltip-{{ forloop.counter }}" style="display:none">
          <div class="hero-tab-tooltip profile-tooltip d3-tooltip">
            <div class="subheader"><strong>{{ h.level }}</strong> {{ h.get_klass_display }}</div>
            {% if h.hardcore %}Hardcore{% endif %}
            </div>
          </div>
      </li>
      {% endfor %}
      {% for e in account.empty_tabs %}
      <li>
      <span class="hero-tab"></span>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div id="diablo_armory">
    {% include "diablo/_hero.html" %}
  </div>
</div>
