{% load compress %}
{% compress css %}
<link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}diablo/css/items.less" />
<link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}diablo/css/skills.less" />
<link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}diablo/css/attributes.less" />
<link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}diablo/css/nav.less" />
<link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}diablo/css/armory.less" />
<link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}diablo/css/progress.less" />
<link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}diablo/css/follower.less" />
<link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}diablo/css/tooltip.less" />
{% endcompress %}
<script type="text/javascript" src="{{ STATIC_URL }}diablo/js/diablo.js"></script>
