<div class="page-section progression">
  <div class="section-header ">
    <div class="category ">Progression</div>
  </div>
  <div class="section-body">
    <div class="progression-bar {{ hero.hardcore_display }}-progression">
      <div class="bar-wrapper">
        <div class="bar-fill" style="width: 713px"></div>
        <span class="marker normal complete" data-tooltip="Normal"></span>
        <span class="marker nightmare complete" data-tooltip="Nightmare"></span>
        <span class="marker hell complete" data-tooltip="Hell"></span>
        <span class="marker inferno complete" data-tooltip="Inferno"></span>
        <span class="progress-arrow-hitbox" data-tooltip="#progression-tooltip-1"
              style="left:{{ hero.progress_left }}px">
          <span class="progress-arrow"></span>
        </span>
      </div>
    </div>
    <div class="difficulty-labels">
      <span class="difficulty-label label-normal">
        <span class="label-marker"></span>
        Normal
      </span>
      <span class="difficulty-label label-nightmare">
        <span class="label-marker"></span>
        Nightmare
      </span>
      <span class="difficulty-label label-hell">
        <span class="label-marker"></span>
        Hell
      </span>
      <span class="difficulty-label label-inferno">
        <span class="label-marker"></span>
        Inferno
      </span>
      <dic style="clear: both"></div>
    </div>
  </div>
</div>
